@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&family=Rubik:wght@300;400;500;700&display=swap');


body{
	margin:0;
	padding:0;
	background-color:lightgray;
	font-family: "Rubik", Sans-serif;
}

*{
	box-sizing:border-box;
}

button{
	cursor:pointer;
	border:1px solid grey;
	border-radius:5px;
}

a{
	text-decoration:none;
}

hr{
	width:75px;
	height:2px solid ;
	
}

.b4-nav{
	background-color:#1e3c96;
	height:100px;
}

.logo{
	margin-left:8.5%;
	position:relative;
}

.logo > img{
	margin-top:1.5%;
}

.contact-info{
	display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    position:absolute ;
	left:50%;
	top:5%;
}

.contact-info > div{
	margin-bottom:3px;
	margin-left:auto;
	padding:10px;
}

.contact-info > div > a{
	color:white;
	text-decoration:none;
}

.contact-info > div > a:hover{
	opacity:0.8;
}

.contact-info-btn{
	border:1px solid white;
	background-color:#66c2de;
	width:80px;
	height:auto;
	transition: 0.5s;
}

.contact-info-btn:hover{
	background-color:#1e3c96;
}


.main-header{
	width:100%;
	content-align:center;
	background-color:white;
	padding:0;
	margin:0;
}

.nav-item{
	display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 100%;
	
}

.nav-item > ul{
	list-style:none;
	display:inline-flex;
	
}

.nav-item > ul > li{
	position:relative;
	display:inline-block;
	text-align:left;
}

.nav-item  ul  li > a{
	display:inline;
	align-items:center;
	
	padding: 10px;
	color:black;
	float:right;
	color:gray;
	
}

.nav-item  ul  li:nth-child(n)  > a:hover{
	background-color:yellow;
}

.nav-item > ul > li > ul.dropdown{
        min-width: auto; /* Set width of the dropdown */
        background: ;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
.nav-item >ul > li:hover ul.dropdown{
        display: ;	/* Display the dropdown */
    }
.nav-item >ul > li > ul.dropdown li{
        display: block;
 }
	
.landing{
	width:100%;
	height:700px;
	margin-bottom:20px;
}

.landing-video{
	width:100%;
	height:700px;
	position:relative;
}

.landing-content{
	position:absolute;
	top:30%;
	left:30%;
	color:white;
	display:grid;
}

.landing-content > h1{
	font-weight:400;
	font-size:36px;
	text-align:center;
	font-family: "Rubik", san-serif;
	line-height:1.5em;
}

.landing-content > p{
	text-align:center;
	font-family: "Rubik", san-serif;
}

.serach-bar{
	position:absolute;
	top:95%;
	
	margin-top:8rem;
	width:40rem;
	height:10rem;
	margin-right:auto;
	border:1px solid gray;
	display:inline-grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-column-gap:1em;
	background-color:#fff;
	color:gray;
}

.serach-bar > div{
	border:1px solid gray;
	border-radius:10px;
	margin:10px;
	height:4rem;
}

.serach-bar > div:last-child{
	border:0 ;
}

.serach-bar div{
	border:1px solid gray;
	border-radius:10px;
	margin:10px;
	text-align: center;
	
}

.serach-bar > div > div > p{
	align-text:center;
}

.serach-bar > div:hover{
	background-color:red;
	color:#000;
}

.serach-bar > div:last-child:hover{
	background-color:#fff;
}

.serach-btn{
	display:inline-grid;
	grid-template-columns:1fr 1fr;
	margin:10px;
	height:4rem;
	
}

.serach-btn > div:last-child{
	background-color:#66c2de;
}

.serach-btn > div:first-child{
	background-color:#1e3c96;
}

.serach-btn > div:last-child:hover{
	background-color:#1e3c96;
}

.serach-btn > div:first-child:hover{
	background-color:#66c2de;
}

.search-text{
	padding-left:1px;
}

.property-title {
	position:relative;
	padding-top:5rem;
	padding-bottom:3rem;
	
}

.property{
	padding-left:5rem;
	padding-right:5rem;
}

.property-title > h2{
	text-align:center;
	font-weight:400;
	font-size:26px;
	font-family: "Rubik", san-serif;
	padding-bottom:10px;
	margin-top:20px;
}

.property-title > hr{
	background-color:blue;
}

.property-title > p{
	font-weight:200;
	font-size:15px;
	text-align:center;
	color:gray;
	font-family: "Rubik", san-serif;
	
	
}

.property-container{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin:0 auto;
	padding-bottom:1.5rem;
}

.property-detail{
	background-color:white;
	border-right:4 px solid gray;
	padding-left:10px;
	padding-right:10px;
	
}

.property-image-container{
	position:relative;
}

.property-image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.property-image-btn-container{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.property-image-container:hover > .property-image> img{
	opacity:0.5;
	
}

.property-image-container:hover .property-image-btn-container{
	opacity:1;
	
}

.property-image-btn > p{
	padding:10px;
	border:1px solid #fff;
	border-radius:5px;
	color: #fff;
	font-weight:200;
	font-size:15px;
}

.property-image-btn > p:hover{
	background-color:#fff;
	color: blue;
	font-weight:200;
	font-size:15px;
}


.property-link{
	color:black;
	transition:0.4s ease;
}

.property-link:hover{
	color:#66c2de;
}

.property-detail-desc > p{
	color:gray;
}

.property-detail-desc > address > a{
	color:#66c2de;
}

.property-detail-desc > address > a:hover{
	opacity:0.5;
}


.property-detail-desc-icons-more{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-self:end;
	
}

.property-detail-desc-icons-detail{
	padding:5px;
}

.property-detail-desc-icons-price{
	padding-left:10px;
	background-color:white;
	display:grid;
}

.pesa{
	align-self:start;
}

.muuzaji{
	align-self:end;
}

.fixed-image{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:2rem;
}

.fixed-image-container{
	position:relative;
	width:100%;
	height:50vh;
}

.fixed-image-container-img{
	height:100%;
	width:100%;
	background-image: 	url("../images/bg.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	
	
}

.fixed-image-container-img:hover{
	
	
}

.fixed-image-containercontent{
	justify-content:center;
	align-items:center;
	display:flex;
	position:absolute;
	flex-direction:column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-text:center;
	color:#fff;
	z-index:1;
}

.fixed-image-containercontent > h2 {
	align-text:center;
	font-size:28px;
	font-weight:400;
	line-height:1.5em;
	z-index:1;
	
}

.fixed-image-containercontent > p {
	align-text:center;
	z-index:1;
	
}

.fixed-image-containercontent-btn > button{
	padding:15px;
	font-size:18px;
	line-height:1.5em;
	opacity:0.5;
	z-index:1;
}

.fixed-image-containercontent-btn > button:first-child{
	margin-right:2rem;
	background-color:blue;
	color:#fff;
	z-index:1;
}

.fixed-image-containercontent-btn > button:last-child{
	background-color:gray;
	color:#fff;
	z-index:1;
}

.fixed-image-containercontent-btn > button:hover{
	opacity:0.8;
	z-index:1;
}

.fixed-image-containercontent-overlay{
	justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-color:#00427473;
	opacity:0.9;
}

#featured-properties{
	width:59%;
	margin:0 auto;
	
}

.featured-proteries-class{
	display:flex;
	justify-content:center;
	flex-direction:column;
}

.featured-properties-title{
	position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.featured-properties-title > h1{
	text-align: center;
    font-weight: 400;
    font-size: 26px;
    font-family: "Rubik", san-serif;
    padding-bottom: 10px;
    margin-top: 20px;
}

.featured-properties-title > p{
	font-weight: 200;
    font-size: 15px;
    text-align: center;
    color: gray;
    font-family: "Rubik", san-serif;
}

.featured-properties-title > hr{
	background-color:blue;
}

.featured{
	width:70%;
	margin:0 auto;
	z-index:4;
	position:relative;
	border-radius:5px;
	
}

.featured-properties-content-text{
	padding:2rem;
	margin-top:-5rem;
}

.property-detail-desc-icons-price > div > h3{
	color:#1cb2ff;
}

#category-container{
	width:85%;
	margin:0 auto;
	height:800px;
	margin-top:15rem;
}

.category{
	display:grid;
	grid-template-columns:1fr 2fr;
	grid-gap:1em;
	height:100%;
}

.category div{
	grid-gap:1rem;
}

.category-left{
	display:grid;
	grid-template-rows:1fr 1fr;
	grid-gap:1em;
	height:100%;
	
}

.category-left-one, .category-left-two{
	position:relative;
	padding:1rem;
	/*border: 1px solid #000;*/
	border-radius:3px;
}

.category-right{
	display:grid;
	grid-gap:1em;
	height:100%;
}

.category-right-main{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
}

.category-right-one{
	grid-column:1/3;
	grid-row:1;
	position:;
}

.category-right-two{
	grid-column:1;
	grid-row:2/3;
	position:relative;
	padding:1rem;
	/*border: 1px solid #000;*/
	border-radius:3px,
}

.category-right-three{
	grid-column:2;
	grid-row:2/3;
	position:relative;
	padding:1rem;
	/*border: 1px solid #000;*/
	border-radius:3px
}

.category-right-four{
	grid-column:3;
	grid-row:2/3;
	position:relative;
	width:100%;
	height:100%;
	padding:1rem;
	/*border: 1px solid #000;*/
	border-radius:3px;
}

.category-left-img-res{
	width:100%;
	height:400px;
	background-image: url("../images/residential1.jpg");
	background-repeat:no-repeat;
	position:relative;
}

.category-left-img-shop{
	width:100%;
	height:400px;
	background-image: url("../images/shop1.jpg");
	background-repeat:no-repeat;
	position:relative;
}

.category-left-img > img{
	width:100%;
	height:100%;
	object-fit: cover;
}

.category-right-img-single{
	width:100%;
	height:400px;
	background-image: url("../images/single.jpg");
	background-repeat:no-repeat;
	position:relative;
}

.category-right-img-villa{
	width:100%;
	height:400px;
	background-image: url("../images/single1.jpg");
	background-repeat:no-repeat;
	position:relative;
}

.category-right-img-apartment{
	width:100%;
	height:400px;
	background-image: url("../images/single1.jpg");
	background-repeat:no-repeat;
	position:relative;
}

.category-right-img > img{
	width:100%;
	height:100%;
	object-fit: cover;
}

.category-left-text, .category-right-text{
	display:flex;
	position:absolute;
	top: 0;
	left: 0;
	
}

.category-left-text, .category-right-text > h1 {
	padding:1rem;
	font-weight:600;
	font-size:25px;
	font-family:"Rubik" san-serif;
	color:#fff;
}

#contact-form{
	width:100%;
	height:120vh;
	margin-top:15 rem;
}

.contact-container{
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
}

.contact-container-img{
	width:100%;
	height:100%;
	background-image: url("../images/contact-bg.jpg");
	background-repeat:no-repeat;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	margin-top:4rem;

}

.contact-container-content-main{
	justify-content:center;
	align-items:center;
	display:flex;
	position:absolute;
	flex-direction:column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-text:center;
	color:#fff;
	margin-top:8rem;
	
}

.contact-container-content-form{
	display: inline-flex;
	justify-content: space-between;
	width:100%;
	margin-right:auto;
	margin-left: auto;
}

.contact-container-content-title{
	
}

.contact-container-form{
	background-color:#fff;
	width:35%;
	height:40%;
	border-radius:7px;
	padding: 0 25px;
	
}

#contact-form  select, input{
	height: 44px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
	margin-top:10px;
	margin-right:20px;
    margin-bottom: 20px;
	border-radius:5px;
	
}

#contact-form > button{
	padding: 10px 15px;
	color:#fff;
	background-color:blue;
}

#contact-form > button:hover{
	background-color: darkblue;
}

#contact-form > textarea{
	padding: 10px;
    margin-bottom: 20px;
    color: #444;
    border: 1px solid rgba(128,128,128,.2);
    outline: none;
    background: #fff;
    width: 100%;
}

.contact-overlay{
	justify-content:center;
	align-items:center;
	display:flex;
	position:absolute;
	flex-direction:column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-text:center;
	background-color:#0042748f;
	opacity:0.6;
}

.contact-form-about{
	display:inline-flex;
	justify-content: space-between;
}

.contact-form-about >div >h3{
	color:#000;
}

.contact-form-about > div:first-child{
	margin-right:3rem;
}


.contact-container-flexend{
	display:flex;
	align-items: flex-end;
}

#agents{
	width:80%;
	height:100vh;
	margin:40px auto;
	background-color:;
}

.agents-container{
	width:100%;
	height:100%;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-gap:10px;
}

.agents-container-one-text hr{
	align:left;
}

.agent-container{
	width:500px;
	height:800px;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	width:100%;
	height:50vh;
	backface-visibility:none;
}



.agent-img-john{
	background-image: url("../images/john.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	width:100%;
	height:50vh;
	border-radius:10px;
	
}


.agent-img-alice{
	background-image: url("../images/alice.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	width:100%;
	height:50vh;
	position:relative;
	border-radius:10px;
}

.agent-img-melissa{
	background-image: url("../images/melissa.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	width:100%;
	height:50vh;
	position:relative;
	border-radius:10px;
}

.agent-img-elissa{
	background-image: url("../images/elissa.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	width:100%;
	height:50vh;
	position:relative;
	border-radius:10px;
}

.agent-img-nathan{
	background-image: url("../images/nathan.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	width:100%;
	height:50vh;
	position:relative;
	border-radius:10px;
}

.agent-container-details{
	display:flex;
	position:absolute;
	top:0;
	left:0;
	display:none;
}

.agent-name{
	display:flex;
	position:absolute;
	flex-direction:column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-text:center;
	color:#fff;
	z-index:1;
	padding-left: 2rem;
}
.agent-name h6{
	margin-top:-10px;
}

.agent-icons{
	display:inline-block;
	position:absolute;
	flex-direction:column;
	bottom: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-text:center;
	color:#fff;
	z-index:1;
	padding-left: 2rem;
	padding-bottom:1.2rem;
}

.agent-icons i{
	padding:5px;
}

.agent-container-details p{
	opacity:0;
}

.agents-container-john{
	
}

.agent-text p{
	display:;
}


#testimonial{
	width:70%;
	height:60vh;
	margin:0 auto;
	margin-top:4rem;
	margin-bottom:4rem;
}

.testimonial-title > h2{
	text-align: center;
    font-weight: 500;
    font-size: 26px;
	padding:4rem;
    font-family: "Rubik", san-serif;
    padding-bottom: 10px;
    margin-top: 20px;
}

.testimonial-title > p{
	text-align: center;
    font-weight: 400;
    font-size: 12px;
	padding:1rem;
    font-family: "Rubik", san-serif;
    padding-bottom: 10px;
    margin-top: 10px;
	color:gray;
}

.testimonial-title > hr{
	background-color:royalblue;
}



.user-testimonial{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;/*
	display:flex;
	justify-content:space-between;*/
}

.user-text > span{
	color:royalblue;
}

.user-text{
	background-color:#fff;
	padding-left:2rem;
	padding-top:1.5rem;
	padding-bottom:3rem;
	padding-right:3.5rem;
	
}

.user > i{
	position:absolute;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:2.5em;
	margin-top:-10px;
	color:#fff;
	font-size:26px;
}

.two{
	margin-left:15px;
	margin-right:15px;
}

.user-icon{
	display:flex;
	justify-content:space-around;
}

.user-icon img{
	border-radius:50%;
	margin-top:15px;
	margin-right:1px;
}

.user-icon-name{
	margin-right:-27px;
}

#partners{
	width:70%;
	height:20vh;
	margin: 0 auto;
}

.partners-container{
	display:inline-flex;
}

.partners-container img{
	padding:25px;
}

#footer{
	width:100%;
	height:65vh;
	background-color:#0054a5;
	margin:0;
	padding:0;
}

.footer-container{
	color:white;
}

.footer-container a{
	color:white;
	text-decoration: none;
}

.footer-logo{
	display:inline-flex;
	margin-bottom:15px;
	margin-top:15px;
	margin-left:5rem;
}

.footer-logo p{
	margin-left:25px;
	color:#fff;
	font-size:6;
}

.footer-content{
	width:85%;
	margin: 0 auto;
	display:flex;
	justify-content:space-around;
}

.links{
	display:flex;
	flex-flow: wrap column;
}

.links li{
	list-style:none;
}

.links li span{
	margin-right:1em;
}

.ul-div{
	display:grid;
	grid-template-columns:1fr 1fr;
}

.ul-div > div:first-child{
	margin-right:10px;
}

.address p{
	margin-bottom:2em;
}

.tags{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
}

.tags a{
	background:#1cb2ff;
	color:#fff;
	padding:10px;
	border-radius:5px;
	margin:3px;
	transition: .2s all linear;
}

.tags a:hover{
	background:#0054a5;
}

.leggs{
	display:flex; 
	flex-flow: wrap row;
	justify-content:space-around;
	margin-top:2em;
}